@import "tailwindcss";

.scrollbar-0 {
  scrollbar-width: none !important;
}
.swal2-container .swal2-styled {
  background-color: oklch(55.8% 0.288 302.321) !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}
.swal2-icon.swal2-error {
  border-color: red !important;
  color: red !important;
}

.swal2-x-mark-line-left {
  background: red !important;
}
.swal2-x-mark-line-right {
  background: red !important;
}
.swal2-success-line-long{
  background: green;
}
.swal2-success-line-tip{
  background: green;
}